<!DOCTYPE html>
<html>
<head>
  <% include ./partials/header.ejs %>
</head>

<body>
  <% include ./partials/top.ejs %>
  <% include ./partials/nav.ejs %>

	<form action="/updateskills" method="post">

<!-- <div id="content"> -->
<br>
<div class="container">
  <div class="row">
    <div class="col-sm-1"></div>
    <div class="col-sm-13">
		<div class="jumbotron">
		<h1>Welcome to Skill Survey!</h1>
		<p>“Select the skills that you have”

			</p>
    </div>
    <!-- <div class="col-sm-1"></div> -->
    </div>
		</div>





		<div class="container">
		<div class="row">
			<!-- <div class="col-sm-4"></div> -->
		<!-- <div class="col-sm-12"> -->
	
		<form action="/updateskills" method="post">
			<div class="col-sm-12">
			 <div class="panel panel-default">
					
				 <div class="panel-heading"> Arts </div>
					 <div class="panel-body">
							<ul class="ministryListBlk">
								<% for(let i=0; i<skillslist.length; i++) { %>
										<% if (skillslist[i].Skill_Category == 'Arts'){ %>
								<ol><input name="scheckBox14" type="checkbox" value = "<%= skillslist[i].Skill_Name %>"/><%= skillslist[i].Skill_Name  %></ol>
									<% } }%>
								</ul>
			</div>
		</div>
	</div>
		<!-- </div> -->
		<!-- </div> -->
		<!-- </div> -->
	
	
		<div class="col-sm-12">
				<div class="panel panel-default">
					 
					<div class="panel-heading"> Building Skills </div>
						<div class="panel-body">
							 <ul class="ministryListBlk">
								 <% for(let i=0; i<skillslist.length; i++) { %>
										 <% if (skillslist[i].Skill_Category == 'Building Skills'){ %>
								 <ol><input name="scheckBox14" type="checkbox" value = "<%= skillslist[i].Skill_Name %>"/><%= skillslist[i].Skill_Name  %></ol>
									 <% } }%>
								 </ul>
			 </div>
		 </div>
	 </div>
		
	 <div class="col-sm-12">
			<div class="panel panel-default">
				 
				<div class="panel-heading"> Event skills </div>
					<div class="panel-body">
						 <ul class="ministryListBlk">
							 <% for(let i=0; i<skillslist.length; i++) { %>
									 <% if (skillslist[i].Skill_Category == 'Event Skills'){ %>
							 <ol><input name="scheckBox14" type="checkbox" value = "<%= skillslist[i].Skill_Name %>"/><%= skillslist[i].Skill_Name  %></ol>
								 <% } }%>
							 </ul>
		 </div>
	 </div>
	</div>
	
	<div class="col-sm-12">
			<div class="panel panel-default">
				 
				<div class="panel-heading"> Business/Technology </div>
					<div class="panel-body">
						 <ul class="ministryListBlk">
							 <% for(let i=0; i<skillslist.length; i++) { %>
									 <% if (skillslist[i].Skill_Category == 'Business/Technology'){ %>
							 <ol><input name="scheckBox14" type="checkbox" value = "<%= skillslist[i].Skill_Name %>"/><%= skillslist[i].Skill_Name  %></ol>
								 <% } }%>
							 </ul>
		 </div>
	 </div>
	</div>
	
		 <button class="btn btn-info" type="submit">Submit</button>  
	
		</form>
		</div>
	
	</div>
	

			<style>
				/* #content {
					margin-left: 0px;
					margin-right: 0px;
				} */
				
    #content {
      margin-left: 100px;
      margin-right: 100px;
    }
    ul.ministryListBlk {
        height: 100px;
        columns: 4;
        overflow: auto;
    }
 
			</style>
</body>

</html>
