<!DOCTYPE html>
<html>
<head>
  <% include ./partials/header.ejs %>
</head>

<body>
  <% include ./partials/top.ejs %>
  <% include ./partials/nav.ejs %>



<!-- <div id="content"> -->
<br>
<div class="container">
  <div class="row">
    <div class="col-sm-1"></div>
    <div class="col-sm-13">
		<div class="jumbotron">
		<h1>Welcome to Skill Survey!</h1>
		<p>“Select the skills that you have”

			</p>
    </div>
    <!-- <div class="col-sm-1"></div> -->
    </div>
		</div>





<div class="container">
  <div class="row">
    <!-- <div class="col-sm-4"></div> -->
  <!-- <div class="col-sm-12"> -->

    <div class="col-sm-12">
     <div class="panel panel-default">
				
       <div class="panel-heading"> Arts </div>
         <div class="panel-body">
						<ul class="ministryListBlk">
							<% for(let i=0; i<skillslist.length; i++) { %>
									<% if (skillslist[i].Skill_Category == 'Arts'){ %>
							<li><input id="scheckBox14" type="checkbox"><%= skillslist[i].Skill_Name  %></li>
								<% } }%>
							</ul>
		</div>
  </div>
</div>
  <!-- </div> -->
  <!-- </div> -->
	<!-- </div> -->


	<div class="col-sm-12">
			<div class="panel panel-default">
				 
				<div class="panel-heading"> Building Skills </div>
					<div class="panel-body">
						 <ul class="ministryListBlk">
							 <% for(let i=0; i<skillslist.length; i++) { %>
									 <% if (skillslist[i].Skill_Category == 'Building Skills'){ %>
							 <li><input id="scheckBox14" type="checkbox"><%= skillslist[i].Skill_Name  %></li>
								 <% } }%>
							 </ul>
		 </div>
	 </div>
 </div>
	 <!-- </div> -->
	 <!-- </div> -->

	 <div class="col-sm-12">
			<div class="panel panel-default">
				 
				<div class="panel-heading"> Event Skills </div>
					<div class="panel-body">
						 <ul class="ministryListBlk">
							 <% for(let i=0; i<skillslist.length; i++) { %>
									 <% if (skillslist[i].Skill_Category == 'Event Skills'){ %>
							 <li><input id="scheckBox14" type="checkbox"><%= skillslist[i].Skill_Name  %></li>
								 <% } }%>
							 </ul>
		 </div>
	 </div>
 </div>
	 <!-- </div> -->
	 <!-- </div> -->



	 <div class="col-sm-12">
			<div class="panel panel-default">
				 
				<div class="panel-heading"> Business/Technology </div>
					<div class="panel-body">
						 <ul class="ministryListBlk">
							 <% for(let i=0; i<skillslist.length; i++) { %>
									 <% if (skillslist[i].Skill_Category == 'Business/Technology'){ %>
							 <li><input id="scheckBox14" type="checkbox"><%= skillslist[i].Skill_Name  %></li>
								 <% } }%>
							 </ul>
		 </div>
	 </div>
 </div>
	 <!-- </div> -->
	 <!-- </div> -->


	 <div class="col-sm-12">
			<div class="panel panel-default">
				 
				<div class="panel-heading"> Discipleship/Spirituality </div>
					<div class="panel-body">
						 <ul class="ministryListBlk">
							 <% for(let i=0; i<skillslist.length; i++) { %>
									 <% if (skillslist[i].Skill_Category == 'Discipleship/Spirituality'){ %>
							 <li><input id="scheckBox14" type="checkbox"><%= skillslist[i].Skill_Name  %></li>
								 <% } }%>
							 </ul>
		 </div>
	 </div>
 </div>
	 </div>
	 </div>


	</div>
	 




		 <form action="" method="post">
			<div style="text-align:right">
				<button type="submit" value="Submit" class="btn btn-success">Submit</button>
			</div>
		</form>
</div>


			<style>
				/* #content {
					margin-left: 0px;
					margin-right: 0px;
				} */
				
    #content {
      margin-left: 100px;
      margin-right: 100px;
    }
    ul.ministryListBlk {
        height: 100px;
        columns: 4;
        overflow: auto;
    }
 
			</style>
</body>

</html>
